# Race/ethnicity by year

## Setup

### Packages

In [17]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import sys
sys.path.append(os.path.normpath("../morpc-common"))
import morpc

In [18]:
current_directory = os.getcwd()
print("Current Working Directory:", current_directory)

Current Working Directory: C:\Users\ogwynn\OneDrive - Mid-Ohio Regional Planning Commission\Desktop\LocalRepo\makingInsights

### Paths

In [19]:
INPUT_DATA_PATH = "inputData/censusPep_county_char.csv"

TEMP_OUTPUT_CSV_PATH ="outputData/TEMP.csv"

REGIONAL_SUMMARY_DATA_PATH = "outputData/censusPep_county_char_15Region.csv"

REGIONAL_SUMMARY_DATA_LABELED_PATH = "outputData/censusPep_county_char_labeled_15Region.csv"

data1 = pd.read_csv(INPUT_DATA_PATH)

data1.to_csv(TEMP_OUTPUT_CSV_PATH, index=False)

data1.head()

   GEOID STATE COUNTY SEX RACE AGEGROUP SOURCE  VINTAGE  YEAR  POP
0  39001  Ohio  Adams   F   AA   0 to 4    INT     2012  2000    1
1  39001  Ohio  Adams   F   AA   0 to 4    INT     2012  2001    1
2  39001  Ohio  Adams   F   AA   0 to 4    INT     2012  2002    1
3  39001  Ohio  Adams   F   AA   0 to 4    INT     2012  2003    1
4  39001  Ohio  Adams   F   AA   0 to 4    INT     2012  2004    1

## Filtering

### Filtering for 15 county

In [20]:
# List of counties to filter by
selected_counties = [
    "Delaware", "Fairfield", "Fayette", "Franklin", "Hocking", "Knox", "Licking", 
    "Logan", "Madison", "Marion", "Morrow", "Perry", "Pickaway", "Ross", "Union"
]

# Filter the dataset for the selected counties
data2 = data1[data1['COUNTY'].isin(selected_counties)]

data2.to_csv(TEMP_OUTPUT_CSV_PATH, index=False)

# Display the first few rows of the filtered data
data2.head()

        GEOID STATE    COUNTY SEX RACE AGEGROUP SOURCE  VINTAGE  YEAR  POP
178200  39041  Ohio  Delaware   F   AA   0 to 4    INT     2012  2000   88
178201  39041  Ohio  Delaware   F   AA   0 to 4    INT     2012  2001  117
178202  39041  Ohio  Delaware   F   AA   0 to 4    INT     2012  2002  154
178203  39041  Ohio  Delaware   F   AA   0 to 4    INT     2012  2003  185
178204  39041  Ohio  Delaware   F   AA   0 to 4    INT     2012  2004  222

### Summing by 15 County

In [21]:
# Group by the relevant columns and sum the 'POP' variable
data2_1 = data2.groupby(
    ['SEX', 'RACE', 'AGEGROUP', 'YEAR']
)['POP'].sum().reset_index()

# Add a new column for the COUNTY identifier
data2_1['COUNTY'] = '15County'

# Rearrange columns to match the original dataset order
data2_1 = data2_1[['COUNTY', 'SEX', 'RACE', 'AGEGROUP','YEAR', 'POP']]

# Append the new '15County' entries to the filtered dataset
data3 = pd.concat([data2, data2_1], ignore_index=True)

data3.to_csv(REGIONAL_SUMMARY_DATA_PATH, index=False)

# Display the first few rows of the updated data
data3.head()

     GEOID STATE    COUNTY SEX RACE AGEGROUP SOURCE  VINTAGE  YEAR  POP
0  39041.0  Ohio  Delaware   F   AA   0 to 4    INT   2012.0  2000   88
1  39041.0  Ohio  Delaware   F   AA   0 to 4    INT   2012.0  2001  117
2  39041.0  Ohio  Delaware   F   AA   0 to 4    INT   2012.0  2002  154
3  39041.0  Ohio  Delaware   F   AA   0 to 4    INT   2012.0  2003  185
4  39041.0  Ohio  Delaware   F   AA   0 to 4    INT   2012.0  2004  222

### Filtering for sex totals and summing for different races

In [22]:
# Filter the dataset where SEX == 'TOT'
data3_1 = data3[data3['SEX'] != 'TOT']

# Group by the relevant columns and sum the 'POP' variable
data4 = data3_1.groupby(
    ['COUNTY', 'RACE', 'YEAR']
)['POP'].sum().reset_index()

data4.to_csv(REGIONAL_SUMMARY_DATA_PATH, index=False)

# Display the first few rows of the updated data
data4.head()

     COUNTY RACE  YEAR    POP
0  15County   AA  2000  39267
1  15County   AA  2001  41664
2  15County   AA  2002  44043
3  15County   AA  2003  46699
4  15County   AA  2004  48635

### Combining RACE NA

In [23]:
# Step 1: Filter data for RACE == 'HNA' and RACE == 'NHNA'
hna_nhna_data = data4[data4['RACE'].isin(['HNA', 'NHNA'])]

# Step 2: Group by COUNTY, SOURCE, VINTAGE, and YEAR, and sum the POP
combined_pop = hna_nhna_data.groupby(['COUNTY', 'YEAR'], as_index=False)['POP'].sum()

# Step 3: Add a new column for RACE with value 'NA'
combined_pop['RACE'] = 'NA'


# Step 4: Append the new rows to the original data
data5 = pd.concat([data4, combined_pop], ignore_index=True)

data5.to_csv(REGIONAL_SUMMARY_DATA_LABELED_PATH, index=False)

### Combining hispanic

In [24]:
# Step 1: Filter data for RACE == 'HNA' and RACE == 'NHNA'
h_data = data5[data5['RACE'].isin(['HNA', 'HBA', 'HAA', 'HIA', 'HWA', 'HTOM'])]

# Step 2: Group by COUNTY, SOURCE, VINTAGE, and YEAR, and sum the POP
combined_pop = h_data.groupby(['COUNTY', 'YEAR'], as_index=False)['POP'].sum()

# Step 3: Add a new column for RACE with value 'NA'
combined_pop['RACE'] = 'HH'

# Step 4: Append the new rows to the original data
data6 = pd.concat([data5, combined_pop], ignore_index=True)

data6.to_csv(REGIONAL_SUMMARY_DATA_LABELED_PATH, index=False)

### Combining other races (NHIA + NHNA)

In [25]:
# Step 1: Filter data for RACE == 'HNA' and RACE == 'NHNA'
other_data = data6[data6['RACE'].isin(['NHIA', 'NHNA'])]

# Step 2: Group by COUNTY, SOURCE, VINTAGE, and YEAR, and sum the POP
combined_pop = other_data.groupby(['COUNTY', 'YEAR'], as_index=False)['POP'].sum()

# Step 3: Add a new column for RACE with value 'NA'
combined_pop['RACE'] = 'OTHER'

# Step 4: Append the new rows to the original data
data7 = pd.concat([data6, combined_pop], ignore_index=True)

data7.to_csv(REGIONAL_SUMMARY_DATA_LABELED_PATH, index=False)

# Display the first few rows of the updated dataframe
data7.head()

     COUNTY RACE  YEAR    POP
0  15County   AA  2000  39267
1  15County   AA  2001  41664
2  15County   AA  2002  44043
3  15County   AA  2003  46699
4  15County   AA  2004  48635

### Proportions

In [26]:
# Filter the dataset to include only the specified RACE categories, including 'TOT'
race_categories = {'NHAA', 'NHBA', 'NHWA', 'NHTOM', 'HH', 'OTHER', 'TOT'}
filtered_data = data7[data7['RACE'].isin(race_categories)]

# Pivot data to have RACE as columns for easier calculation of proportions
pivot_df = filtered_data.pivot_table(index=['COUNTY', 'YEAR'], columns='RACE', values='POP', fill_value=0)

# Calculate proportions by dividing each race population by the total population (TOT)
for race in ['NHAA', 'NHBA', 'NHWA', 'NHTOM', 'HH', 'OTHER']:
    pivot_df[f'{race}_proportion'] = pivot_df[race] / pivot_df['TOT']

# Reset index for a more conventional DataFrame format
proportions_df = pivot_df.reset_index()

# Display the resulting DataFrame
proportions_df[['COUNTY', 'YEAR'] + [f'{race}_proportion' for race in ['NHAA', 'NHBA', 'NHWA', 'NHTOM', 'HH', 'OTHER']]]


df=proportions_df


pop_df = df.melt(id_vars=['COUNTY', 'YEAR'], value_vars=['HH', 'NHAA', 'NHBA', 'NHTOM', 'NHWA', 'OTHER'], 
                 var_name='RACE', value_name='POP')

# Melt the proportion columns to get 'POP_PROP' values for each RACE
prop_df = df.melt(id_vars=['COUNTY', 'YEAR'], 
                  value_vars=['HH_proportion', 'NHAA_proportion', 'NHBA_proportion', 'NHTOM_proportion', 'NHWA_proportion', 'OTHER_proportion'], 
                  var_name='RACE_PROP', value_name='POP_PROP')

# Adjust RACE column in the proportion data to match the format in pop_df
prop_df['RACE'] = prop_df['RACE_PROP'].str.replace('_proportion', '')

# Merge the two DataFrames on COUNTY, YEAR, and RACE to get POP and POP_PROP in a single DataFrame
data8 = pd.merge(pop_df, prop_df[['COUNTY', 'YEAR', 'RACE', 'POP_PROP']], on=['COUNTY', 'YEAR', 'RACE'])

data8.to_csv(REGIONAL_SUMMARY_DATA_LABELED_PATH, index=False)

data8.head()

     COUNTY  YEAR RACE      POP  POP_PROP
0  15County  2000   HH  31655.0  0.016227
1  15County  2001   HH  35594.0  0.018009
2  15County  2002   HH  39293.0  0.019669
3  15County  2003   HH  43240.0  0.021379
4  15County  2004   HH  47097.0  0.023043

### Label map

In [27]:
# Now, filter out records where RACE is NOT in the specified set
filtered_data = data8[data8['RACE'].isin(['NHAA', 'NHBA', 'NHWA', 'NHTOM', 'HH', 'OTHER'])]

# Define a comprehensive mapping of race abbreviations to full race names
race_mapping = {
    "NHAA": "Asian",
    "HH": "Hispanic or Latio (any race)",
    "NHBA": "Black or African American",
    "OTHER": "Some other race alone",
    "NHTOM": "Two or more races",
    "NHWA": "White"
}

# Apply the mapping to the 'RACE' column
filtered_data['RACE'] = filtered_data['RACE'].map(race_mapping).fillna(filtered_data['RACE'])

filtered_data.to_csv(REGIONAL_SUMMARY_DATA_LABELED_PATH, index=False)

# Display the first few rows of the updated data
filtered_data.head()

     COUNTY  YEAR                          RACE      POP  POP_PROP
0  15County  2000  Hispanic or Latio (any race)  31655.0  0.016227
1  15County  2001  Hispanic or Latio (any race)  35594.0  0.018009
2  15County  2002  Hispanic or Latio (any race)  39293.0  0.019669
3  15County  2003  Hispanic or Latio (any race)  43240.0  0.021379
4  15County  2004  Hispanic or Latio (any race)  47097.0  0.023043

## Garphing

### Creating images for each region

In [28]:
import matplotlib.pyplot as plt

# Load the uploaded file to review its content
file_path =REGIONAL_SUMMARY_DATA_LABELED_PATH

# Load the data from the CSV file
data = pd.read_csv(file_path)

# Generate the AGO_County_ItemID_Mapping.csv file by repeating the plotting and saving process
output_dir = 'outputData/plots'
os.makedirs(output_dir, exist_ok=True)

# Dictionary to store COUNTY to itemID mapping
county_item_mapping = {}

for county in data['COUNTY'].unique():
    county_data = data[data['COUNTY'] == county]
    
    # Ensure 'YEAR', 'POP_PROP', and 'RACE' columns are present
    county_data = county_data[['YEAR', 'POP_PROP', 'RACE']]
    
    # Aggregate to handle duplicates by taking the mean or sum
    county_data = county_data.groupby(['YEAR', 'RACE'], as_index=False).agg({'POP_PROP': 'mean'})
    
    # Pivot data to have 'RACE' as columns for plotting
    county_data_pivot = county_data.pivot(index='YEAR', columns='RACE', values='POP_PROP')
    
    # Plot each county's data with adjacent bars
    plt.figure(figsize=(16, 9))
    bar_width = 0.2
    x_positions = range(len(county_data_pivot.index))
    
    for i, race in enumerate(county_data_pivot.columns):
        plt.bar(
            [x + i * bar_width for x in x_positions],
            county_data_pivot[race],
            width=bar_width,
            label=race
        )
    
    plt.title(f"{county} Population Over Time (By Race)")
    plt.xlabel("Year")
    plt.ylabel("Population Proportion")
    plt.xticks([x + bar_width * (len(county_data_pivot.columns) - 1) / 2 for x in x_positions], county_data_pivot.index)
    plt.legend(title="Race", loc='best')
    
    # Save the plot as a PNG file and add to mapping
    plot_path = os.path.join(output_dir, f"{county}_population_over_time_adjacent.png")
    plt.savefig(plot_path)
    plt.close()
    
    # Placeholder ID for demonstration as upload to AGO isn't performed here
    county_item_mapping[county] = f"simulated_item_id_for_{county}"

# Convert the dictionary to a DataFrame and save
mapping_df = pd.DataFrame(list(county_item_mapping.items()), columns=['COUNTY', 'itemID'])
mapping_file_path = 'AGO_County_ItemID_Mapping.csv'
mapping_df.to_csv(mapping_file_path, index=False)

mapping_file_path

'AGO_County_ItemID_Mapping.csv'

### Creating Excel sheet and viz for each region

In [29]:
# Load the uploaded file to review its content
file_path =REGIONAL_SUMMARY_DATA_LABELED_PATH

# Load the data from the CSV file
data = pd.read_csv(file_path)

# Create an Excel writer object
with pd.ExcelWriter('outputData/plots/county_line_charts.xlsx', engine='xlsxwriter') as writer:
    
    # Loop through each unique county and create a chart
    for county in data['COUNTY'].unique():
        county_data = data[data['COUNTY'] == county]
        
        
        # Ensure 'YEAR', 'POP', and 'RACE' columns are present
        county_data = county_data[['YEAR', 'POP_PROP', 'RACE']]
        
        # Aggregate to handle duplicates by taking the mean or sum
        county_data = county_data.groupby(['YEAR', 'RACE'], as_index=False).agg({'POP_PROP': 'mean'})
        
        # Pivot data to have 'RACE' as columns for plotting
        county_data_pivot = county_data.pivot(index='YEAR', columns='RACE', values='POP_PROP')
        
        # Create a line chart for the current county with a line for each RACE
        morpc.data_chart_to_excel(
            df=county_data_pivot,
            writer=writer,
            sheet_name=county,
            chartType='line',
            chartOptions={
                "titles": {
                    "chartTitle": f"{county} Population Over Time",
                    "xTitle": "Year",
                    "yTitle": "Population Proportion"
                },
                "legendOptions": {
                    "position": "bottom"
                }
            }
        )

### Uploading images to AGO

In [ ]:
from arcgis.gis import GIS
import os
import pandas as pd

# Connect to ArcGIS Online
gis = GIS("https://www.arcgis.com", "ogwynn_morpc", "Cr33p3r11!!")

# Directory where images are saved
output_dir = 'outputData/plots'

# Initialize dictionary to store county-item mappings
county_item_mapping = {}

# Loop through each file in the directory and upload it
for filename in os.listdir(output_dir):
    if filename.endswith(".png"):
        file_path = os.path.join(output_dir, filename)
        
        # Define item properties
        title = filename.replace("_", " ").replace(".png", "")
        county_name = filename.split('_')[0]  # Extract county name from the filename
        item_properties = {
            "title": title,
            "tags": "county, population, race, demographics",
            "description": f"Population proportion over time by race for {county_name} county.",
            "type": "Image"
        }
        
        # Search for an existing item with the same title
        existing_items = gis.content.search(query=title, item_type="Image", max_items=1)
        if existing_items:
            # If an existing item is found, delete it
            existing_item = existing_items[0]
            existing_item.delete()
            print(f"Deleted existing item with title: {title}")

        # Upload the new image
        image_item = gis.content.add(item_properties, data=file_path)
        
        # Make the item public
        image_item.share(everyone=True)

        # Store item ID in the dictionary
        county_item_mapping[county_name] = f"https://morpc.maps.arcgis.com/sharing/rest/content/items/{image_item.id}/data"
        
        # Print confirmation
        print(f"Uploaded {filename} with item ID: {image_item.id} and set it to public")

# Convert the dictionary to a DataFrame and save
mapping_df = pd.DataFrame(list(county_item_mapping.items()), columns=['COUNTY', 'itemID'])
mapping_file_path = 'AGO_County_ItemID_Mapping.csv'
mapping_df.to_csv(mapping_file_path, index=False)

Deleted existing item with title: 15County population over time adjacent

C:\Users\ogwynn\newvirt\Lib\site-packages\IPython\core\interactiveshell.py:3577: DeprecatedWarning: add is deprecated as of 2.3.0 and has been removed in 3.0.0. Use `Folder.add()` instead.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\ogwynn\newvirt\Lib\site-packages\IPython\core\interactiveshell.py:3577: DeprecatedWarning: share is deprecated as of 2.3.0 and has been removed in 3.0.0. Use `Item.sharing` instead.
  exec(code_obj, self.user_global_ns, self.user_ns)

Uploaded 15County_population_over_time_adjacent.png with item ID: 8f541fe4dbb243e9a076a64e33a60042 and set it to public
Deleted existing item with title: Delaware population over time adjacent

C:\Users\ogwynn\newvirt\Lib\site-packages\IPython\core\interactiveshell.py:3577: DeprecatedWarning: add is deprecated as of 2.3.0 and has been removed in 3.0.0. Use `Folder.add()` instead.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\ogwynn\newvirt\Lib\site-packages\IPython\core\interactiveshell.py:3577: DeprecatedWarning: share is deprecated as of 2.3.0 and has been removed in 3.0.0. Use `Item.sharing` instead.
  exec(code_obj, self.user_global_ns, self.user_ns)

Uploaded Delaware_population_over_time_adjacent.png with item ID: 40e4a61be5b24deeb2f444fe0f630e22 and set it to public
Deleted existing item with title: Fairfield population over time adjacent

C:\Users\ogwynn\newvirt\Lib\site-packages\IPython\core\interactiveshell.py:3577: DeprecatedWarning: add is deprecated as of 2.3.0 and has been removed in 3.0.0. Use `Folder.add()` instead.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\ogwynn\newvirt\Lib\site-packages\IPython\core\interactiveshell.py:3577: DeprecatedWarning: share is deprecated as of 2.3.0 and has been removed in 3.0.0. Use `Item.sharing` instead.
  exec(code_obj, self.user_global_ns, self.user_ns)

Uploaded Fairfield_population_over_time_adjacent.png with item ID: 8eced57b502a4ea4a0867059e297ec4c and set it to public
Deleted existing item with title: Fayette population over time adjacent

C:\Users\ogwynn\newvirt\Lib\site-packages\IPython\core\interactiveshell.py:3577: DeprecatedWarning: add is deprecated as of 2.3.0 and has been removed in 3.0.0. Use `Folder.add()` instead.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\ogwynn\newvirt\Lib\site-packages\IPython\core\interactiveshell.py:3577: DeprecatedWarning: share is deprecated as of 2.3.0 and has been removed in 3.0.0. Use `Item.sharing` instead.
  exec(code_obj, self.user_global_ns, self.user_ns)

Uploaded Fayette_population_over_time_adjacent.png with item ID: c188d73757c14caf91e8cc1bd727bd89 and set it to public
Deleted existing item with title: Franklin population over time adjacent

C:\Users\ogwynn\newvirt\Lib\site-packages\IPython\core\interactiveshell.py:3577: DeprecatedWarning: add is deprecated as of 2.3.0 and has been removed in 3.0.0. Use `Folder.add()` instead.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\ogwynn\newvirt\Lib\site-packages\IPython\core\interactiveshell.py:3577: DeprecatedWarning: share is deprecated as of 2.3.0 and has been removed in 3.0.0. Use `Item.sharing` instead.
  exec(code_obj, self.user_global_ns, self.user_ns)

Uploaded Franklin_population_over_time_adjacent.png with item ID: 1bfb8a15ac4f454aa60b296b786a80b2 and set it to public
Deleted existing item with title: Hocking population over time adjacent

C:\Users\ogwynn\newvirt\Lib\site-packages\IPython\core\interactiveshell.py:3577: DeprecatedWarning: add is deprecated as of 2.3.0 and has been removed in 3.0.0. Use `Folder.add()` instead.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\ogwynn\newvirt\Lib\site-packages\IPython\core\interactiveshell.py:3577: DeprecatedWarning: share is deprecated as of 2.3.0 and has been removed in 3.0.0. Use `Item.sharing` instead.
  exec(code_obj, self.user_global_ns, self.user_ns)

Uploaded Hocking_population_over_time_adjacent.png with item ID: 76db9bee3ac5421a85ae9a6f647fbc3b and set it to public
Deleted existing item with title: Knox population over time adjacent

C:\Users\ogwynn\newvirt\Lib\site-packages\IPython\core\interactiveshell.py:3577: DeprecatedWarning: add is deprecated as of 2.3.0 and has been removed in 3.0.0. Use `Folder.add()` instead.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\ogwynn\newvirt\Lib\site-packages\IPython\core\interactiveshell.py:3577: DeprecatedWarning: share is deprecated as of 2.3.0 and has been removed in 3.0.0. Use `Item.sharing` instead.
  exec(code_obj, self.user_global_ns, self.user_ns)

Uploaded Knox_population_over_time_adjacent.png with item ID: 17bc57c2f50a456aa4ada7736c4464a6 and set it to public
Deleted existing item with title: Licking population over time adjacent

C:\Users\ogwynn\newvirt\Lib\site-packages\IPython\core\interactiveshell.py:3577: DeprecatedWarning: add is deprecated as of 2.3.0 and has been removed in 3.0.0. Use `Folder.add()` instead.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\ogwynn\newvirt\Lib\site-packages\IPython\core\interactiveshell.py:3577: DeprecatedWarning: share is deprecated as of 2.3.0 and has been removed in 3.0.0. Use `Item.sharing` instead.
  exec(code_obj, self.user_global_ns, self.user_ns)

Uploaded Licking_population_over_time_adjacent.png with item ID: 02ca5f9396734ab7a7e838267d449a31 and set it to public
Deleted existing item with title: Logan population over time adjacent

C:\Users\ogwynn\newvirt\Lib\site-packages\IPython\core\interactiveshell.py:3577: DeprecatedWarning: add is deprecated as of 2.3.0 and has been removed in 3.0.0. Use `Folder.add()` instead.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\ogwynn\newvirt\Lib\site-packages\IPython\core\interactiveshell.py:3577: DeprecatedWarning: share is deprecated as of 2.3.0 and has been removed in 3.0.0. Use `Item.sharing` instead.
  exec(code_obj, self.user_global_ns, self.user_ns)

Uploaded Logan_population_over_time_adjacent.png with item ID: 4a0edd82238d43aaa6184f41f1fe6bfd and set it to public
Deleted existing item with title: Madison population over time adjacent

C:\Users\ogwynn\newvirt\Lib\site-packages\IPython\core\interactiveshell.py:3577: DeprecatedWarning: add is deprecated as of 2.3.0 and has been removed in 3.0.0. Use `Folder.add()` instead.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\ogwynn\newvirt\Lib\site-packages\IPython\core\interactiveshell.py:3577: DeprecatedWarning: share is deprecated as of 2.3.0 and has been removed in 3.0.0. Use `Item.sharing` instead.
  exec(code_obj, self.user_global_ns, self.user_ns)

Uploaded Madison_population_over_time_adjacent.png with item ID: 201cf719a3ee44438e06cf03fdddd730 and set it to public
Deleted existing item with title: Marion population over time adjacent

C:\Users\ogwynn\newvirt\Lib\site-packages\IPython\core\interactiveshell.py:3577: DeprecatedWarning: add is deprecated as of 2.3.0 and has been removed in 3.0.0. Use `Folder.add()` instead.
  exec(code_obj, self.user_global_ns, self.user_ns)

### Update Metadata Local

In [ ]:
from arcgis.gis import GIS
import pandas as pd
import os

# Connect to ArcGIS Online
gis = GIS("https://www.arcgis.com", "ogwynn_morpc", "Cr33p3r11!!")

# Access the existing Excel item by its itemID and download it
item_id = "012c09a5e5344954a573a1677a441e78"
excel_item = gis.content.get(item_id)

# Download the existing Excel file
download_path = excel_item.download(save_path="inputData/")
existing_df = pd.read_excel(download_path)

# Load the mapping CSV file (created earlier with COUNTY to itemID mappings)
mapping_file_path = 'AGO_County_ItemID_Mapping.csv'
mapping_df = pd.read_csv(mapping_file_path)

# Define a function to determine 'RegionType' based on 'COUNTY'
def determine_region_type(county):
    if county == '15County':
        return 'Region-Level'
    elif county in [
        'Delaware', 'Fairfield', 'Fayette', 'Franklin', 'Hocking', 'Knox',
        'Licking', 'Logan', 'Madison', 'Marion', 'Morrow', 'Perry', 
        'Pickaway', 'Ross', 'Union'
    ]:
        return 'County-Level'
    else:
        return 'Community-Level'

# Add new columns to mapping for 'Image', 'RegionType', and 'RegionName'
mapping_df['Image'] = "https://morpc.maps.arcgis.com/sharing/rest/content/items/" + mapping_df['itemID'] + "/data"
mapping_df['RegionType'] = mapping_df['COUNTY'].apply(determine_region_type)
mapping_df['RegionName'] = mapping_df['COUNTY']

# Select the relevant columns from the mapping DataFrame to append to the existing Excel data
mapping_to_append = mapping_df[['Image', 'RegionType', 'RegionName']]

# Append the new rows to the existing DataFrame
updated_df = pd.concat([existing_df, mapping_to_append], ignore_index=True)

# Save the updated DataFrame to a new Excel file
updated_file_path = 'outputData/Insights_Metadata.xlsx'
updated_df.to_excel(updated_file_path, index=False)

# Update the item with the new file
excel_item.update({}, updated_file_path)

# Confirm the update
print(f"Updated item {excel_item.title} with new data.")

### Updating Insights Metadata

In [ ]:
from arcgis.gis import GIS
from arcgis.features import FeatureLayer
import pandas as pd

# Connect to ArcGIS Online
gis = GIS("https://www.arcgis.com", "ogwynn_morpc", "Cr33p3r11!!")

# Access the hosted table layer
table_item = gis.content.get("5997df4c5bab4c3b947b2dfab95104be")

# Access the hosted table layer
if table_item.tables:
    table_layer = table_item.tables[0]  # Get the first (or only) table in the item
else:
    raise ValueError("No table found in the specified item.")
    
# Load the mapping CSV
mapping_df = pd.read_csv('AGO_County_ItemID_Mapping.csv')  # Adjust the path as needed

# Query existing records in the hosted table
existing_features = table_layer.query().features
existing_data = pd.DataFrame([feature.attributes for feature in existing_features])

# Prepare list to store updates
updates = []

# Iterate through each row in the mapping CSV to check and prepare updates
for _, row in mapping_df.iterrows():
    county_name = row['COUNTY']
    item_id = row['itemID']
    
    # Determine the values for RegionType and RegionName
    if county_name == "15County":
        region_type = "Region-Level"
    elif county_name in {"Delaware", "Fairfield", "Fayette", "Franklin", "Hocking", "Knox", "Licking", 
                         "Logan", "Madison", "Marion", "Morrow", "Perry", "Pickaway", "Ross", "Union"}:
        region_type = "County-Level"
    else:
        region_type = "Community-Level"
    
    # Construct the Image URL
    image_url = f"https://morpc.maps.arcgis.com/sharing/rest/content/items/{item_id}/data"
    
    # Check if the Image already exists in the hosted table
    if (existing_data['Image_'] == image_url).any():
        continue  # Skip this row if the Image already exists

    # Find the feature to update or prepare a new one
    matching_features = existing_data[existing_data['RegionName'] == county_name]
    
    if not matching_features.empty:
        # Update existing feature
        feature_to_update = existing_features[matching_features.index[0]]
        feature_to_update.attributes.update({
            'Image_': image_url,  # Ensure no extra spaces in field names
            'RegionType': region_type,
            'RegionName': county_name
        })
        updates.append(feature_to_update)
    else:
        # Prepare a new feature if no match found
        new_feature = {
            'attributes': {
                'Image_': image_url,
                'RegionType': region_type,
                'RegionName': county_name
            }
        }
        updates.append(new_feature)

# Apply updates to the hosted table
if updates:
    # Convert features to dictionaries to avoid circular references
    updates_dict = [f.as_dict if hasattr(f, 'as_dict') else f for f in updates]
    table_layer.edit_features(updates=updates_dict)
    print("Updates applied to the hosted table on AGO.")
else:
    print("No updates needed. All entries are up-to-date.")